@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;  
  list-style: none;
  text-decoration: none;

  --primary-color-1: #accf00;
  --primary-color-2: #333333;
  --backgrund-color: #f3f3f3;
  --success-color:#4bb543;
  --danger-color: #dc3545;
}

body {
  /* background-color: var(--backgrund-color); */
  min-height: 100vh;
}

/*-------------- MAIN SIDEBAR ---------------*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 220px;
  font-weight: 400;
  border-right: 1px solid #e0e0e0;
}

.sidebar-logo {
  padding: 1rem;
  display: flex;
}

nav .sidebar-logo img {
  width: 100%;
  object-fit: cover;
}

nav .nav-links {
  display: flex;
  flex-direction: column;
}

nav li i {
  font-size: 1.3rem;
}

.sidebar-items a,
.sidebar-bottom a {
  color: var(--primary-color-2);
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
  padding: 0.6rem 1.5rem;
  border-radius: 5px;
  margin: 0 0.4rem;
  transition: all 0.2s ease-in-out;


}

.sidebar-items a:hover,
.sidebar-bottom a:hover {
  background-color: var(--primary-color-2);
  color: var(--primary-color-1);
}

.sidebar-bottom,
.sidebar-items {
  margin-bottom: 3rem;
}

.nav-profile-link a {
  padding: 0.6rem 0.5rem;
  font-size: 0.9rem;
}

.nav-profile-link img {
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--primary-color-1); 
}

/*-------------- MAIN CONTENT---------------*/

main {
  position: relative;
  width: calc(100% - 220px);
  left: 220px;
  min-height: 100vh;
  background-color: white;

}

.top-dashboard {
  overflow: hidden;
  position: fixed;
  width: calc(100% - 220px);
  top: 0;
  left: 220px;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-color-2);
  background-color: white;
}

.top-dashboard a {
  display: flex;
  align-items: center;
  width: 11rem;
  font-size: 1rem;
  justify-content: center;
  border-radius: 10px;
  margin-left: 2rem;
  padding: 0.2rem;
  color: var(--primary-color-2);
  border: 1px solid var(--primary-color-1);
  transition: all 0.3s ease-in-out;
}
.top-dashboard a:hover {
  overflow: hidden;
  background-color: var(--primary-color-1);
  color: var(--primary-color-2);
}

.top-dashboard a i {
  font-size: 1.3rem;
  margin-right: 0.3rem;
}

.top-dashboard span {
  margin-right: 1rem;
}

.main-content {
  min-height: 100vh;
  margin: 0 1rem;
  margin-top: 4rem;
  padding: 1.5rem;
  border-radius: 20px;
  background-color: var(--backgrund-color);
}
